<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <header>
    <p class="text-center">Курси валют</p>
    <table>
      <tr>
        <td class="text-start">Валюта</td>
        <td class="text-end">Купівля(UAH)</td>
        <td class="text-end">Продаж(UAH)</td>
      </tr>
      <tr class="items-center">
        <td>USD</td>
        <td>37,25</td>
        <td>37,85</td>
        <td>1111111111111</td>
      </tr>
      <tr>
        <td>EUR</td>
        <td>39,50</td>
        <td>40,50</td>
      </tr>
    </table>
<!--    <div>-->
<!--      <p class="text-center">Курси валют</p>-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--    </div>-->
<!--    <div>-->

<!--    </div>-->
<!--    <div>Валюта Купівля(UAH) Продаж(UAH)</div>-->
<!--    <div>USD 37,25 37,85</div>-->
<!--    <div>EUR 39,50 40,50</div>-->



  </header>

  <div><!--component-converter-->
    <div> USD
      <input type="text">
      <select name="" id="1">UAH USD EUR</select>
    </div>
    <div> EUR
      <input type="text">
      <select name="" id="2">UAH USD EUR</select>
    </div>

  </div>
</div>


