.body{
  display: flex;
  padding: 22px 617px 655px 617px;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  background: #FFF;
  font-family: 'Roboto', sans-serif;

}

.headerClass{
  width: 500px;
  height: 227px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 14px 18px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h1{
  font-size: 32px;
  font-weight: 400;

}

.headNames{
  display: flex;
  text-align: left;
}
.headName1{
  margin-left: 164px;
}
.headName2{
  margin-left: 31px;
}
.headName3{
  margin-left: 11px;
}
//краще об'єднати в контейнер весь цей контент і відцентрувати
.contentTextContainer{
  display: flex;
  text-align: left;
}

.contentTextContainer1{
  margin-left: 164px;
}

.contentTextContainer2{
  margin-left: 41px;
}
