<div class="body">
  <header class="headerClass">
    <h1>Exchange rate</h1>
    <div class="headNames">
      <div class="headName1">Currency</div>
      <div class="headName2">Purchase (UAH)</div>
      <div class="headName3">Sale (UAH)</div>
    </div>
    <div class="contentTextContainer">
      <div class="contentTextContainer1">
        <div class="conTC1">
          <img src="https://cdn-icons-png.flaticon.com/512/3909/3909383.png" alt="eng_img">
          <div class="blueInd">USD</div>
        </div>
        <div>
          <img src="https://cdn-icons-png.flaticon.com/512/323/323344.png" alt="eur_img">
          <div class="blueInd">EUR</div>
        </div>
      </div>
      <div  class="contentTextContainer2">
        <div class="purchase">
          <div class="pur1">37,49</div>
          <div>39,45</div>
        </div>
        <div class="sale">
          <div class="pur1">38,67</div>
          <div>40,02</div>
        </div>
      </div>
    </div>
  </header>
  <div>

  </div>
</div>


<!--
<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <header>
    <div class="text">
      <p class="text-center">Курси валют</p>
      <table>
        <tr>
          <td class="text-start">Валюта</td>
          <td class="text-end">Купівля(UAH)</td>
          <td class="text-end">Продаж(UAH)</td>
        </tr>
        <tr class="items-center">
          <td>USD</td>
          <td>37,25</td>
          <td>37,85</td>
          <td>11122223333</td>
        </tr>
        <tr>
          <td>EUR</td>
          <td>39,50</td>
          <td>40,50</td>
        </tr>
      </table>
    </div>
-->
<!--    <div>-->
<!--      <p class="text-center">Курси валют</p>-->
<!--      <div></div>-->
<!--      <div></div>-->
<!--    </div>-->
<!--    <div>-->

<!--    </div>-->
<!--    <div>Валюта Купівля(UAH) Продаж(UAH)</div>-->
<!--    <div>USD 37,25 37,85</div>-->
<!--    <div>EUR 39,50 40,50</div>-->


<!--
  </header>

  <div>
    <div> USD
      <input type="text">
      <select name="" id="1">UAH USD EUR</select>
    </div>
    <div> EUR
      <input type="text">
      <select name="" id="2">UAH USD EUR</select>
    </div>

  </div>
</div>
-->


