.body{
  display: flex;
  padding: 22px 617px 655px 617px;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  background: #FFF;
  font-family: 'Roboto', sans-serif;

}

.headerClass{
  width: 500px;
  height: 227px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 14px 18px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h1{
  font-size: 32px;
  font-weight: 400;

}

.headNames{
  display: flex;
  text-align: left;
  color: #989898;
  font-size: 12px;
  font-weight: 700;
}
.headName1{
  margin-left: 164px;
}
.headName2{
  margin-left: 31px;
}
.headName3{
  margin-left: 11px;
}
//краще об'єднати в контейнер весь цей контент і відцентрувати
.contentTextContainer{
  display: flex;
  text-align: left;
}

.contentTextContainer1{
  margin-left: 106px;
}

.contentTextContainer2{
  margin-left: 41px;
}

img{
  width: 45px;
  height: 45px;
  margin-right: 13px;
}
.contentTextContainer1 div{
  display: flex;
  margin-bottom: 18px;
}

.conTC1{
  margin-top: 1px;
  ////
}

.blueInd{
  color: #26278D;
  font-size: 20px;
  font-weight: 550;
  margin-top: 6px;
}

.contentTextContainer2{
  color: #3C3C3C;
  font-size: 20px;
  font-weight: 600;
  display: flex;

}

.pur1{
  margin-top: 12px;
}

.purchase{

}
.purchase div{
  margin-bottom: 40px;
}

.sale{
  margin-left: 58px;
}
.sale div{
  margin-bottom: 40px;
}
